<!--         <li class="list-group-item d-flex justify-content-between align-items-center bg-gradient px-4">
            <span>
                <strong>{{p.name}}</strong>
                <span class="text-muted"> | {{p.category}}</span>
            </span>
            <span class="fw-semibold text-primary">{{p.price}}</span>
        </li>
 -->
<div class="card h-100 shadow-sm rounded-3 position-relative"
    [class.disabled]="productCard.active===false">
        <span class="badge badge-bg text-muted position-absolute top-0 start-0 m-2">
            {{productCard.category}}
        </span>
        <!-- productCard.active es booleano -->
        <div class="badge badge-tag position-absolute top-0 end-0 pt-2 pe-2 ps-4 pb-4"
            [class.bg-success]="productCard.active === true"
            [class.bg-danger]="productCard.active === false"
        >
<!-- En lugar de mostrar true-false, muestra activo-obsoleto: es active? si : no -->
                <label class="rotate pt-0">
                    {{productCard.active ? 'Act':'Obs'}}
                </label>
        </div>

        <img 
        class="image-ajust"
        [src]="productCard.image" 
        alt="{{productCard.name}}">
    <div class="card-body mb-0 pb-0 d-flex flex-column">
        <!--         <h4 class="fw-medium">{{index}}</h4> -->
        <h5 class="fw-bold text-center">{{productCard.name}}</h5>
        <p class="text-muted fst-italic text-center ">{{productCard.description}}</p>
        <p class="fw-semibold fs-5 text-primary text-end mt-auto">{{productCard.price}} &euro;</p>
    </div>
    <div class="card-footer bg-transparent border-0 mt-0 p-3 d-flex justify-content-center ">
            <button class="btn btn-sm btn-outline-warning w-75 rounded-3 fs-6 shadow-sm">🧹 Eliminar</button>
    </div>
</div>