/* EFECTO DEGRADADO EN EL NAV*/
.header-soft {
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right,
            #f8f9fa,
            #e9ecef,
            #f8f9fa);
    transition: box-shadow 300ms ease;
}


/* Capa animada */
.header-soft::after {
    
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    /* empieza en la derecha */
    height: 100%;
    width: 0%;
    /* invisible al inicio */
    background: linear-gradient(to left,
            rgba(120, 174, 250, 0.55),
            rgba(120, 174, 250, 0.117),
            rgba(255, 255, 255, 0));
    transition: width 300ms ease;
    pointer-events: none;
}

/* Hover: el fondo entra */
.header-soft:hover::after {
    width: 100%;
}

.header-soft:hover {
    box-shadow: none !important;
    transition: 300ms;
}

/* Contenido por encima */
.header-soft>.container {
    position: relative;
    box-shadow: none;
}


.nav-link-soft {
    position: relative;
    color: #495057;
    font-size: 1rem;
    font-weight: 500;
    padding-bottom: 4px;
}

/* LINEA BOTONES A REF */
.nav-link-soft::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    /* empieza desde la derecha */
    width: 0%;
    height: 2px;
    background-color: #0d6efd;
    /* primary de Bootstrap */
    transition: width 300ms ease;
}

/* Hover: línea aparece hacia la izquierda */
.nav-link-soft:hover::after {
    width: 100%;
    left: auto;
    right: 0;
}

/* Color de texto al hover */
.nav-link-soft:hover {
    color: #0d6efd;
}

.footer-shadow-top {
    box-shadow: 0 -10px 12px rgba(0, 0, 0, 0.08);
}