.fade-slide-in-list { /* antes denominada .fade-slide-in-list */
  opacity: 0;
  transform: translateY(10px);
  animation: fadeSlideInList 1000ms ease-out both;
}

.max-card-width{
  max-width: 400px;
}

@keyframes fadeSlideInList { /* antes denominada fadeSlideInTable */
  to {
    opacity: 1;
    transform: translateY(0);
  }
}