.social-icons img{
    filter: grayscale(100%);
    transition: filter 0.3s ease, transform 0.2s ease;
}

.social-main img{
    transition: scale 0.2s ease;
}
.social-main img:hover{
    scale: 1.1;
    transition: scale 0.2s ease;
}

.social-icons img:hover{
    filter: grayscale(0%);
    scale: 1.1;
    transition: filter 0.3s, scale 0.2s;

}

